<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create Celeb</a>
<a href="/celebrities">List of Celebs</a>
<a href="/movies">List of Movies</a>
<a href="/movies/create">Create Movie</a>

